# Standard Library: Verification functions

### [is-any: value] 
&rarr; `bool`

Returns `true` if `value` is any non-`empty` type.

### [is-between: value; a; b]
&rarr; `bool`

Returns `true` if `value` is bewteen `a` and `b` (both inclusive).

### [is-bool: value]
&rarr; `bool`

Returns `true` if `value` is of type `bool`.

### [is-empty: value]
&rarr; `bool`

Returns `true` if `value` is `~`.

### [is-even: number]
&rarr; `bool`

Returns `true` if `number` is an even number.

### [is-float: value]
&rarr; `bool`

Returns `true` if `value` is of type `float`.

### [is-integer: value]
&rarr; `bool`

Returns `true` if `value` is of type `integer`.

### [is-nan: value]
&rarr; `bool`

Returns `true` if `value` is of type `float` and equal to NaN (Not a Number).

### [is-number: value]
&rarr; `bool`

Returns `true` if `value` is of type `integer` or `float`.

### [is-odd: number]
&rarr; `bool`

Returns `true` if `number` is an odd number.

### [is-string: value]
&rarr; `bool`

Returns `true` if `value` is of type `string`.
