# Verification

### [is-any: value] 
&rarr; `bool`

Returns `true` if `value` is any non-`empty` type.

### [is-empty: value]
&rarr; `bool`

Returns `true` if `value` is `~`.

### [is-even: number]
&rarr; `bool`

Returns `true` if `number` is an even number.

### [is-number: value]
&rarr; `bool`

Returns `true` if `value` is of type `integer` or `float`.

### [is-odd: number]
&rarr; `bool`

Returns `true` if `number` is an odd number.

